@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.aboutme {
  color: #eae8ff;
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  height: 300px;
  font-size: 20px;
}
@media screen and (max-width: 650px) {
  .aboutme {
    height: 350px;
    font-size: 16px;
    margin-top: -20px;
  }
}
.aboutme span {
  color: #00e8fc;
}
.aboutme span:hover {
  font-weight: bold;
}
