@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-top: -20px;
}
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
.aboutme {
  color: #eae8ff;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .aboutme {
    height: 350px;
    font-size: 16px;
  }
}
.aboutme span {
  color: #00e8fc;
}

.imgcontainer {
  margin-left: 40px;
  /* background-color: #121c38; */
}
@media screen and (max-width: 800px) {
  .imgcontainer {
    margin-top: -160px;
    margin-bottom: 100px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 380px) {
  .imgcontainer {
    margin-top: -100px;
    margin-bottom: 100px;
    margin-left: 0px;
  }
}
