@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.aboutme {
  color: #e8e8e6;
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  height: 200px;
  font-size: 20px;
}
.aboutme span {
  color: #30b8b2;
}
.aboutme span:hover {
  color: rgb(157, 230, 226);
}
.levw {
  font-weight: bold;
  color: #ff7a4f !important;
}
@media screen and (max-width: 650px) {
  .aboutme {
    height: 350px;
    font-size: 16px;
  }
}
