@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.emailcontainer {
  display: flex;
  flex-flow: column nowrap;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 650px) {
  .emailcontainer {
    font-size: 16px;
  }
}
.emailcontainer span {
  color: #00e8fc;
}
.emailcontainer p {
  color: #eae8ff;
  width: 80%;
  margin: auto;
}
.linkedin {
  text-decoration: none;
  color: #00e8fc;
  border-bottom: #00e8fc solid 2px;
}
.email {
  text-decoration: none;
  border: #00e8fc solid 2px;
  border-radius: 10px;
  margin: auto;
  color: #e8e8e6;
  margin: 20px auto auto;
  padding: 10px 36px;
  transition-duration: 400ms;
  animation-name: borderColor;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-direction: alternate;
}
.email:hover {
  transform: translateX(10px);
  box-shadow: 3px 5px#00E8FC;
  animation-play-state: paused;
}

@keyframes borderColor {
  0% {
    border-color: #00e8fc;
  }

  100% {
    border-color: #0b132b;
  }
}
