.title {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  margin-top: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.outerTitle {
  position: absolute;
  font-size: 90px;
  line-height: 1;
  font-weight: 700;
  white-space: nowrap;
  opacity: 0.05;
  color: #eae8ff;
  margin-right: 40px;
}
.innerTitle {
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
  color: #eae8ff;
}
@media screen and (max-width: 650px) {
  .outerTitle {
    font-size: 70px;
    margin-right: 30px;
  }
  .innerTitle {
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  .outerTitle {
    font-size: 55px;
    margin-right: 20px;
  }
  .innerTitle {
    font-size: 35px;
  }
}

@media screen and (max-width: 400px) {
  .outerTitle {
    font-size: 40px;
    margin-right: 18px;
  }
  .innerTitle {
    font-size: 30px;
  }
}
