.seven {
  position: relative;
  background: transparent;
  width: 90%;
  max-width: 500px;
  padding: 2em;
  font-family: "Source Sans Pro", sans-serif;
  margin: 1.5em auto;
}
@media (max-width: 650px) {
  .seven {
    width: 100%;
    margin: auto;
    padding: 0%;
  }
}

.seven h1:before,
.seven h1:after {
  background-color: #eae8ff;
}

.seven h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #eae8ff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.seven h1:after,
.seven h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #eae8ff;
  border-top: 1px solid #eae8ff;
  height: 5px;
  background-color: transparent;
}
