@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
.container {
  padding: 40px;
}
.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .intro {
    flex-direction: column;
  }
}
.hello {
  display: flex;
  justify-content: left;
  font-size: 50px;
  color: #eae8ff;
  font-family: "Birthstone", cursive;
}
@media screen and (max-width: 650px) {
  .hello {
    font-size: 40px;
  }
}
.myName {
  display: flex;
  width: 60%;
  justify-content: left;
  font-size: 50px;
  color: #eae8ff;
  text-align: left;
  font-family: sans-serif;
}
@media screen and (max-width: 650px) {
  .myName {
    width: 100%;
    font-size: 45px;
  }
}
@media screen and (max-width: 360px) {
  .myName {
    width: 100%;
    font-size: 35px;
  }
}
.img {
  width: 290px;
  height: 290px;
  color: #eae8ff;
}

@media screen and (max-width: 650px) {
  .img {
    width: 240px;
    height: 240px;
    margin: auto;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}
:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: #eae8ff;
  --c2: #0f1938;
}
.box {
  margin: auto;
  width: 300px;
  height: 300px;
  margin-top: 30px;
  border: 5px solid;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  animation: borderRotate var(--d) linear infinite forwards;
}
@media screen and (max-width: 650px) {
  .box {
    width: 250px;
    height: 250px;
  }
}
.box:nth-child(2) {
  border-image: radial-gradient(
      ellipse at var(--gradX) var(--gradY),
      var(--c1),
      var(--c1) 10%,
      var(--c2) 40%
    )
    30;
  animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}
.seperator {
  width: 400px;
}
@media screen and (max-width: 1500px) {
  .seperator {
    width: 300px;
  }
}
@media screen and (max-width: 1300px) {
  .seperator {
    width: 200px;
  }
}
@media screen and (max-width: 1150px) {
  .seperator {
    width: 0px;
  }
}
