@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
.container {
  padding: 40px;
}
.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .intro {
    flex-direction: column;
  }
}
.hello {
  display: flex;
  justify-content: left;
  font-size: 50px;
  color: #30b8b2;
  font-family: "Birthstone", cursive;
}
@media screen and (max-width: 650px) {
  .hello {
    font-size: 40px;
  }
}
.myName {
  display: flex;
  width: 60%;
  justify-content: left;
  font-size: 50px;
  color: #e8e8e6;
  text-align: left;
  font-family: sans-serif;
}
@media screen and (max-width: 650px) {
  .myName {
    width: 100%;
    font-size: 45px;
  }
}
@media screen and (max-width: 360px) {
  .myName {
    width: 100%;
    font-size: 35px;
  }
}
.img {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  border: #30b8b2 solid 7px;
  color: #30b8b2;
  border-radius: 50%;
  animation-name: borderColor;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-direction: alternate;
  background-color: aqua;
}

.img:hover {
  animation-play-state: paused;
}
@media screen and (max-width: 650px) {
  .img {
    width: 250px;
    height: 250px;
  }
}
.imgcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.roles {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #30b8b2;
}

@keyframes borderColor {
  0% {
    border-color: #30b8b2;
  }

  100% {
    border-color: #004b63;
  }
}

.seperator {
  width: 400px;
}
@media screen and (max-width: 1500px) {
  .seperator {
    width: 300px;
  }
}
@media screen and (max-width: 1300px) {
  .seperator {
    width: 200px;
  }
}
@media screen and (max-width: 1150px) {
  .seperator {
    width: 0px;
  }
}
