@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 650px) {
  .intro {
    padding-top: 100px;
  }
}

.hello {
  font-size: 30px;
  color: #00e8fc;
  font-family: "Birthstone", cursive;
}
@media screen and (max-width: 650px) {
  .hello {
    font-size: 25px;
  }
}
.myName {
  padding-top: 10px;
  display: inline-block;
  /* width: 60%; */
  font-size: 80px;
  color: #00e8fc;
  text-align: left;
  position: relative;
  font-family: "Righteous";
  /* 
  background: linear-gradient(to right, #ff00ff, #00e8fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; */
}

.hello::after {
  content: "";
  display: inline-block;
  width: 40px; /* adjust this value to match the width of your icon */
  height: 40px; /* adjust this value to match the height of your icon */
  background-image: url("https://media.tenor.com/Wx9IEmZZXSoAAAAi/hi.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px; /* adjust this value to add some space between the name and the icon */
  /* margin-top: 25px; */
}
@media screen and (max-width: 650px) {
  .myName {
    width: 100%;
    font-size: 60px;
  }
}

@media screen and (max-width: 360px) {
  .myName {
    width: 100%;
    font-size: 35px;
  }
}

.myRole {
  padding-top: 10px;
  display: inline-block;
  /* width: 60%; */
  font-size: 60px;
  color: #eae8ff;
  text-align: left;
  position: relative;
  font-family: "Righteous", cursive;
}
@media screen and (max-width: 650px) {
  .myRole {
    font-size: 40px;
  }
}
.aboutme {
  padding-top: 10px;
  color: #eae8ff;
  font-family: "Roboto", sans-serif;
  max-width: 1000px;
  font-size: 20px;
}
@media screen and (max-width: 650px) {
  .aboutme {
    padding-top: 40px;
    height: 350px;
    font-size: 16px;
    margin-top: -20px;
  }
}
.aboutme span {
  color: #00e8fc;
}
.gradient {
  background: linear-gradient(to right, #ff00ff, #00e8fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
