@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* font-family: "Roboto", sans-serif; */
/* list-style-image: url("../assets/right-arrow.png"); */

.works {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: #0b132b;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 0px) {
  .works {
    flex-flow: column wrap;
  }
}
.work {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  margin: 0 10px;
  border: #eae8ff solid 1px;
  border-radius: 10px;
  height: 600px;
  background-color: #eae8ff;
  margin-top: 30px;
}
@media screen and (max-width: 900px) {
  .work {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    height: 100%;
  }
}

.companyName {
  margin-bottom: 30px;
  font-size: 25px;
  color: #eae8ff;
}
.companyLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}
.companyLogo img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 50%;
  border: #eae8ff solid 1px;
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.role {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
.date {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}
.points ul {
  list-style-position: inside;
  margin-left: 0.75em;
  text-align: left;
  margin-top: 10px;
  padding-bottom: 30px;
}

.points ul li {
  margin-top: 15px;
}
