@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* font-family: "Roboto", sans-serif; */
/* list-style-image: url("../assets/right-arrow.png"); */

.works {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: #eae8ff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 0px) {
  .works {
    flex-flow: column wrap;
  }
}
.work {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  margin: 0 10px;
  height: 700px;
  border-radius: 10px;
  border: 1px solid hsla(0, 0%, 82.7%, 0.397);
  margin-top: 30px;
}
@media screen and (max-width: 1105px) {
  .work {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    height: 100%;
  }
}
@media screen and (max-width: 800px) {
  .work {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    height: 100%;
  }
}

.companyName {
  margin-bottom: 30px;
  font-size: 22px;
  color: #eae8ff;
}
.companyLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}
.companyLogo img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  border-radius: 50%;
  border: #eae8ff 8px solid;
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
}
.role {
  text-align: center;
  font-size: 22px;
  margin-top: 10px;
}
.date {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
.points ul {
  list-style-position: inside;
  margin-left: 0.75em;
  text-align: left;
  margin-top: 10px;
  padding: 25px;
  color: #d9dadc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
}

.points ul li {
  margin-top: 15px;
}
